*{margin:0px auto;}
.wrap{
	background:white;
	position:relatif;	

}
 
/*bagian header*/
.wrap .header{
	 background:white;
	height: 100%; 
    width:100%;	
	position:relatif;	
} 
.gambar{
	position:relative;
	margin-left:30px;
	margin-top:3px;
	padding:17px 0 17px 0;
	float:left;
}
.sosmed{
	position:relative;
	margin-left:455px;
	margin-right:10px;
	margin-top:15px;
	padding:15px 0 15px 0;
	float:left;
}
.sosmed ul {
  float: left;
  list-style: none;
}

.sosmed li {
  float: right;
  margin-right:20px;  
}

.sosmed img:hover{
     
	
	 -webkit-transform:scale(1.4);
	
	 -webkit-transition-duration:0.3s;
	
    }
	

 
.menu{
		width: 100%;
        text-align: center;
        font-family: roboto;	
		position:relatif;	
		
}
  
.menu ul {
  float: left;
  padding:15px 90px 15px 40px;
}

#gambar{
	 width:50%;
	 float:left;



 }
 
 #gambar1{
	 width:47%;
	 float:right;
	 margin-top:90px;
	 
 }

    .menu ul li:hover a{
        color:#5A52CC;
		 -webkit-transform:scale(0.9);
	     -webkit-transition-duration:0.5s;
    }
  
.menu li {
  float: right;
  margin-right:10px;  
}
 .menu ul a{
        display: block;
        padding: 15px;
        color: black;
		font-size:15px;
		font-family:roboto;
        text-decoration: none;	
    }
	
	
		ul {
  list-style: none;
}



/*akhir menu*/
.clear{
	clear: both;
}
 
 

.wrap .badan .content{
	background-color:white;
	float: right;
	height: 600px;
	width: 50%;	
	margin-bottom:10px;
	
		
}
#btn{

margin-top:100px;

}
.content h2 {
	
	font-size:30px;
	color:#5A52CC;
	font-family:futura;
	text-align: right;
	margin-right:50px;
	margin-top: 240px;
	
	
	
}

.content1 h2 {
	
	font-size:45px;
	color:#5A52CC;
	font-family:futura;
	text-align: left;
	margin-left:60px;
	padding:0 30px;
	margin-top: 200px;
	
	
	
}
.content  h3 {
	color:#5A52CC;
	font-family:roboto;
	text-align: left;
	margin-left:40px;
	margin-right:40px;
	margin-bottom:px;
	padding-left: 20px;
	font-size:20px;
	
}

.wrap .badan .content2{
	background-image:url("gambar/3.png");
	margin-top:-40px;
	float: center;
	height: 600px;
	width: 1355px;	
	
		
}
.content2 img{
	margin-left:40px;
}

.content2 img:hover{
     background:black;
	 -webkit-box-shadow:5px 5px #aaa;
	 -moz-box-shadow:5px 5px 8px blue;
	 -webkit-transform:scale(0.9);
	 -moz-transform:scale(0.9);
	 -webkit-transition-duration:0.5s;
	 -moz-transition-duration:0.5s;
    }
	
	  #backlogin .wed {
    margin-top: 50px;
    width: 30%;
	margin-right:10px;
	margin-left:90px;
    height: 50px;
    background: #5A52CC;
    color: white;
    font-family: futura;
    font-size: 20px;
    border-radius: 25px;
	
  }
  
  
  #backlogin .wed:hover{
	background:black;
	 -moz-box-shadow:5px 5px 8px blue;
	 -webkit-transform:scale(0.9);
	 -moz-transform:scale(0.9);
	 -webkit-transition-duration:0.5s;
	 -moz-transition-duration:0.5s;
    }
	
	
	#backlogin1 .wed {
    margin-top: 50px;
    width: 30%;
	margin-right:10px;
	margin-left:90px;
    height: 50px;
    background: white;
    color: #5A52CC;
    font-family: futura;
    font-size: 20px;
    border-radius: 25px;
	
  }
  
  
  #backlogin1 .wed:hover{
	background:black;
	color: white;
	 -moz-box-shadow:5px 5px 8px blue;
	 -webkit-transform:scale(0.9);
	 -moz-transform:scale(0.9);
	 -webkit-transition-duration:0.5s;
	 -moz-transition-duration:0.5s;
    }
	
 

